@import '../../scss/vars';

.field {

    &__list {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template: repeat(3, 150px) / repeat(3, 150px);
        gap: 15px;
        
        @media (max-width: 960px) { grid-template: repeat(3, 120px) / repeat(3, 120px); }
        @media (max-width: 720px) { grid-template: repeat(3, 100px) / repeat(3, 100px); gap: 10px;}
        @media (max-width: 540px) { grid-template: repeat(3, 80px) / repeat(3, 80px); }
    }

    &__item {
        border-radius: 16px;
        background-color: $orange;

        &_start { background-color: $violet; }
        &_finish { background-color: $blue; }
        &_wrong { background-color: $red; }
    }
}