@import './scss/vars';

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('./assets/bc.jpg');
    overflow: hidden;

    &__header {
        margin-bottom: 10%;

        @media (max-width: 720px) {
            margin-bottom: 20%;
        }
    }

    &__main {
    }

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 720px) {
            flex-direction: column;
        }
    }
    
    &__field {
        flex-basis: 50%;

        @media (max-width: 720px) {
            margin-bottom: 10%;
        }
    }
}